* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  height: 100vh;
  width: 100%;
  /* background-size: contain;
    */
  background-image: url(/assets/background.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.main-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content .main-menu {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 50px;
}
.main-content .main-menu .menu {
  width: 320px;
  display: flex;
  justify-content: center;
}
.main-content .main-menu p {
  padding: 0 20px;
  font-size: 26px;
  font-weight: 600;
}
.main-content .main-menu p:first-child {
  border-right: 2px solid #000;
}
.main-content .logo-with-animation {
  position: relative;
  margin-top: 100px;
}
.main-content .logo-with-animation .animation {
  position: absolute;
  right: -20px;
  top: -165px;
}
.main-content .logo-with-animation .logo {
  margin-bottom: 70px;
}
.main-content .logo-with-animation .logo img {
  height: 200px;
  object-fit: contain;
}
.main-content .action-buttons {
  width: 230px;
  display: flex;
  justify-content: space-between;
}
.main-content .action-buttons button {
  padding: 12px 75px;
  border-radius: 30px;
  border: 2px solid #343434;
  color: #343434;
  outline: none;
  font-size: 28px;
  font-weight: 900;
  font-family: "Nunito Sans", sans-serif;
  background: none;
  transition: all 0.5s;
  cursor: pointer;
}
.main-content .action-buttons button:hover {
  background: #343434;
  color: #fff;
}
.footer-logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-logo > img {
  /* display: none; */
  height: 50px;
  object-fit: contain;
}
